.env
venv
.DS_Store

# git directories to ignore
AStitchInLanguageModels
SemEval_2022_Task2-idiomaticity

# huggingface directories to ignore
xlm-sentiment

# Jupyter
jupyter.*.out
.ipynb_checkpoints

# Downloads
*.tar.gz

# Building
dist
__pycache__
*.pyc
build
*.egg-info
