numpy
nltk
pandas
tqdm

# transformers, huggingface
sentencepiece
tokenizers
torch
torchvision
datasets
huggingface-hub
sentence-transformers

# notebook stuff
jupyter
nbstripout
nbqa
jupyter_contrib_nbextensions

# code quality
typing-extensions
mypy
pylint
flake8
flake8-docstrings
flake8-mypy
pyproject-flake8

# neural parser
ufal.udpipe
OpenNMT-py>=1.2.0
diaparser
pytorch_lightning
torchmetrics

# conllu reading
conllu

# visualization
matplotlib
plotly
seaborn

# database
lmdb
pysolr
zstandard
lz4
psutil
ply

# scipy/sklearn: uncomment if not on M1 Mac
# scipy
# sklearn
# scipy/sklearn install magic for M1
# https://github.com/scikit-learn/scikit-learn/issues/19137
